{% extends 'base.html.twig' %}

{% block titlePage %}Annuler une sortie{% endblock %}


{% block container %}

    <div class="row f-flex justify-content-center">
        <div class="col-md-6  p-5 mt-5 mr-5">
            <div class="card p-5 shadow-lg " >
                <div class="col-md-6 " style="align-items: center">

                    <h3 class="nomEvent p-2 ">Annuler : <b>{{ detailEvent.nameEvent | capitalize }}</b></h3>
{#                    <button onclick="window.location.href='{{ path('inscription',{'id':detailEvent.id}) }}'">S'inscrire</button>#}
                    <p>Début événement : {{ detailEvent.StartDateTime|date("d/m/Y") }} à {{ detailEvent.StartDateTime|date("H:i") }}</p>
                    <p>Description : {{ detailEvent.infoEvent }}</p>
                    <p>Durée en minutes de l'événement : {{ detailEvent.duration }}</p>

                    {% if app.user.id != detailEvent.user.id %}
                        <p>Evenement organisé par : {{ detailEvent.user }}</p>
                    {% endif %}
                    <!--Si profil = personne connectée-->
                    {% if app.user.id == detailEvent.id %}
                        <p>Evenement dont je suis l'organisateur</p>
                    {% endif %}


                    <p>Inscription : {{ detailEvent.status }}</p>


                    {% set dateLimitRegistration = detailEvent.registrationDeadLine %}
                    {% set dateLimitEvent = detailEvent.StartDateTime %}
                    {% set today = "now" %}
                    {% set differenceRegistration = date(dateLimitRegistration).diff(date(today)) %}
                    {% set differenceEvent = date(dateLimitEvent).diff(date(today)) %}
                    {% set leftDaysRegistration = differenceRegistration.days %}
                    {% set leftDaysEvent = differenceEvent.days %}

                    {% if date(dateLimitEvent) > date(today) %}
                        {% if date(dateLimitRegistration) > date(today) %}
                            <p>Inscription jusqu'au : {{ detailEvent.registrationDeadLine|date("d/m/Y") }} à {{ detailEvent.registrationDeadLine|date("H:i") }}</p>
                            <p>(Il ne vous reste plus que {{ leftDaysRegistration }} jours pour vous inscrire)</p>
                            {% if detailEvent.users|length == detailEvent.nbRegistrationsMax %}
                                <p>Complet : {{ detailEvent.users|length }} / {{ detailEvent.nbRegistrationsMax }}</p>
                                {% else %}
                                <p>Déjà {{ detailEvent.users|length }} place(s) réservée(s) sur les {{ detailEvent.nbRegistrationsMax }} places disponibles</p>
                            {% endif %}
                        {% elseif date(detailEvent.registrationDeadLine) < today %}
                            {% else %}
                            <p>Trop tard, inscriptions terminées depuis le {{ detailEvent.registrationDeadLine|date("d/m/Y") }} à {{ detailEvent.registrationDeadLine|date("H:i") }}. L'événement débutera sans vous dans {{ leftDaysEvent }} jours</p>
                        {% endif %}
                    {% else %}
                        <p>L'événement s'est déroulé sans vous le {{ detailEvent.StartDateTime|date("d/m/Y") }}</p>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-4">
                            {{ form_start(cancelForm) }}
                        </div>
                        <div>
                            Motif :
                            {{ form_widget(cancelForm) }}
                            <button class="btn btn-danger m-1 mt-2 btn-sm">Confirmer</button>
                            <a href="{{ url('list') }}" class="btn m-1 mt-2 btn-success btn-sm">Retour à la liste</a>
                            {{ form_end(cancelForm) }}
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}