{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter une sortie{% endblock %}


{% block container %}

<div class="row">
    <div class="col-md-12">

        {{ form_start(formEvent) }}

        <h3>Etape 1 : sélectionnez ou ajoutez un lieu</h3>

        <label>Campus : </label>
        {{ form_widget(formEvent.campus) }}
        <br><br>

        <label>Lieu : </label>
        {{ form_widget(formEvent.place.namePlace) }}
        <br><br>

        <label>Rue : </label>
        {{ form_widget(formEvent.place.street) }}
        <br><br>

        <label>Code Postal : </label>
        {{ form_widget(formEvent.place.zipCode) }}
        <br><br>

        <label>Ville : </label>
        {{ form_widget(formEvent.place.nameCity) }}
        <br><br>


        <h3>Etape 2 : créez un événement </h3>

        {{ form_start(formEvent) }}

        <label>Intitulé sortie : </label>
        {{ form_widget(formEvent.nameEvent) }}
        <br><br>

        <label>Début de l'évenement : </label><br>
        {{ form_widget(formEvent.StartDateTime) }}
        <br>

        <label>Durée : </label>
        {{ form_widget(formEvent.duration) }}
        <br><br>

        <label>Inscription jusqu'au : </label><br>
        {{ form_widget(formEvent.registrationDeadLine) }}
        <br><br>

        <label>Nombre maximum de participants : </label><br>
        {{ form_widget(formEvent.nbRegistrationsMax) }}
        <br><br>

        <label>Description : </label>
        {{ form_widget(formEvent.infoEvent) }}
        <br><br>




    {{ form_widget(formEvent) }}
    <button>Ajouter</button>

    {{ form_end(formEvent) }}



{% endblock %}



