{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter une sortie{% endblock %}


{% block container %}

<div class="row">
    <div class="col-md-12">

        {{ form_start(formEvent) }}

        <h3>Etape 1 : sélectionnez ou ajoutez un lieu</h3>


        <label for="kw"> Ville : </label>
        {# {{ form_label(formEvent.placeId) }} #}
        {# {{ form_widget(formEvent.placeId) }} #}{# ca c est pr envoyer au controller #}
        <input type="text" id="kw">
        <br>
        <div id="results"></div>
        <br>
        <a href="{{ path('create_place_bis') }}"> Ajouter un lieu </a>
        <div>

            {% if foo is not null %}
                <select id="select_place" name="select_place">
                            <option value="{{ foo.id }}"> {{ foo.namePlace }} - {{ foo.street }} - {{ foo.zipCode }}-{{ foo.nameCity }}</option>
                </select>

            {% endif %}
        </div>
        <script>
            const searchCityUrl = "{{ path('demo_city_search') }}";
        </script>

        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>

            let searchInput = document.getElementById("kw");

            searchInput.addEventListener("keyup", sendAjaxRequest);

            function sendAjaxRequest() {

                let keyword = searchInput.value;

                axios.get(searchCityUrl, {
                    params: {
                        "keyword": keyword
                    }
                })
                    .then(function (response) {
                        console.log(response.data);
                        let resultsContainer = document.getElementById("results")
                        resultsContainer.innerHTML = response.data;
                    });

            }

        </script>


        <h3>Etape 2 : créez un événement </h3>

        <label>Campus : </label>
        {{ form_widget(formEvent.campus) }}
        <br>

        <label>Intitulé sortie : </label>
        {{ form_widget(formEvent.nameEvent) }}
        <br><br>

        <label>Début de l'évenement : </label><br>
        {{ form_widget(formEvent.StartDateTime) }}
        <br>

        <label>Durée : </label>
        {{ form_widget(formEvent.duration) }}
        <br><br>

        <label>Inscription jusqu'au : </label><br>
        {{ form_widget(formEvent.registrationDeadLine) }}
        <br><br>

        <label>Nombre maximum de participants : </label><br>
        {{ form_widget(formEvent.nbRegistrationsMax) }}
        <br><br>

        <label>Description : </label>
        {{ form_widget(formEvent.infoEvent) }}
        <br><br>
        {{ form_errors(formEvent) }}

        {{ form_widget(formEvent) }}
        <button class="btn btn-success">Ajouter</button>

        {{ form_end(formEvent) }}

        {% endblock %}



