{% extends 'base.html.twig' %}

{% block titlePage %}Detail sortie{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            {# <div class="col-md-1"> #}
            {# </div> #}
            <div class="col-md-6  p-5 mt-5 mr-5">
                <div class="card p-3 shadow-lg">
                    <h3 class="nomEvent p-2 ">{{ detailEvent.nameEvent | capitalize }}</h3>
                    <p><b>Début événement : </b>{{ detailEvent.StartDateTime|date("d/m/Y") }}
                            à {{ detailEvent.StartDateTime|date("H:i") }}</p>
                    <p><b> Rue : </b>{{ detailEvent.place.street }}</p>
                    <p><b> Ville : </b>{{ detailEvent.place.nameCity }}</p>
                    <p><b> Description : </b>{{ detailEvent.infoEvent }}</p>
                    <p><b> Durée en minutes de l'événement : </b>{{ detailEvent.duration }} </p>
                    {% if app.user.id != detailEvent.user.id %}
                        <p> <b>Evenement organisé par :</b> {{ detailEvent.user }}</p>
                    {% endif %}
                    <!--Si profil = personne connectée-->
                    {% if app.user.id == detailEvent.user.id %}
                        <p>Evenement dont je suis l'organisateur</p>
                    {% endif %}
                    {% set dateLimitRegistration = detailEvent.registrationDeadLine %}
                    {% set dateLimitEvent = detailEvent.StartDateTime %}
                    {% set today = "now" %}
                    {% set differenceRegistration = date(dateLimitRegistration).diff(date(today)) %}
                    {% set differenceEvent = date(dateLimitEvent).diff(date(today)) %}
                    {% set leftDaysRegistration = differenceRegistration.days %}
                    {% set leftDaysEvent = differenceEvent.days %}

                    {% if date(dateLimitEvent) > date(today) %}
                        {% if date(dateLimitRegistration) > date(today) %}
                            {% if detailEvent.users|length < detailEvent.nbRegistrationsMax %}
                                <p><b>Etat inscription :</b> {{ detailEvent.status }}</p>

                                {% if detailEvent.status == "Annulé" %}
                                    <p><b>Motif d'annulation :</b> {{ detailEvent.motif }}</p>
                                {% endif %}

                                <p><b>Inscription jusqu'au : </b>{{ detailEvent.registrationDeadLine|date("d/m/Y") }}
                                    à {{ detailEvent.registrationDeadLine|date("H:i") }}</p>
                                <p>(Il ne vous reste plus que<b> {{ leftDaysRegistration }} jours </b>pour vous inscrire)</p>
                                <p>Déjà <b>{{ detailEvent.users|length }} place(s) réservée(s)</b> sur
                                    les {{ detailEvent.nbRegistrationsMax }} places disponibles</p>
                            {% else %}
                                <p><b>Complet : </b>{{ detailEvent.users|length }} / {{ detailEvent.nbRegistrationsMax }}</p>
                            {% endif %}
                            {# {% if detailEvent.users|length == detailEvent.nbRegistrationsMax %} #}
                            {# <li>Complet : {{ detailEvent.users|length }} / {{ detailEvent.nbRegistrationsMax }}</li> #}
                            {# {% else %} #}
                            {# <li>Déjà {{ detailEvent.users|length }} place(s) réservée(s) sur les {{ detailEvent.nbRegistrationsMax }} places disponibles</li> #}
                            {# {% endif %} #}

                        {% elseif date(detailEvent.registrationDeadLine) < today %}
                        {% else %}
                            <p><b>Trop tard</b>, inscriptions terminées depuis
                                le {{ detailEvent.registrationDeadLine|date("d/m/Y") }}
                                à {{ detailEvent.registrationDeadLine|date("H:i") }}. L'événement débutera sans vous
                                dans {{ leftDaysEvent }} jours</p>
                        {% endif %}
                    {% else %}
                        <p>L'événement s'est déroulé sans vous le {{ detailEvent.StartDateTime|date("d/m/Y") }}</p>
                    {% endif %}

                </div>
            </div>
            <div class="col-md-6 mt-5">
                {% if participants | length > 0 %}
                    <div class="row">
                        <div class="col-md-10">
                            <table class="table">
                                <h3 class="pseud"> Liste des participants à la sortie</h3>
                                <thead>
                                <tr>
                                    <th>Pseudo</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for participants in participants %}
                                    <tr>
                                        <td>{{ participants.pseudo }}</td>
                                        <td>{{ participants.username }} </td>
                                        <td>{{ participants.firstNameUser }} </td>
                                        <!--Si profil différent du user (personne connectée)-->

                                        <td>
                                            {% if app.user.id != participants.id %}
                                                <a href="{{ url('user_display_user', {"id" : participants.id }) }}"
                                                   class="btn btn-success btn-sm">Consulter profil</a>
                                            {% endif %}
                                            <!--Si profil = personne connectée-->
                                            {% if app.user.id == participants.id %}
                                                <a href="{{ url('user_display_user', {"id" : app.user.id }) }}"
                                                   class="btn btn-success btn-sm">Mon profil</a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {# if admin = supprimer participant #}
                                        </td>
                                    </tr>
                                {% endfor %}
                                {# faire le paginator ds le controlleur  #}
{#                                {{ knp_pagination_render(participants) }}#}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
                <button type="submit" class="btn btn-success" onclick="history.go(-1)">Retour à la liste</button>
{#                <a href="{{ url('list') }}" class="btn btn-success btn-sm">Retour à la liste</a>#}
            </div>

            <div class="row">
                 <div class="col-md-4">
                <!-- Sortie ouverte, utilisateur pas encore inscrit et place dispo-->
                     {% if detailEvent.status == 'Ouvert' and app.user not in detailEvent.users and detailEvent.users|length < detailEvent.nbRegistrationsMax and detailEvent.registrationDeadLine < today %}
                         <a href="{{ url('subscribe', {"id" : detailEvent.id }) }}"
                              class="btn btn-primary btn-sm">S'inscrire</a>
                     {% endif %}
                <!-- Sortie ouverte, utilisateur déjà inscrit (ajouter href="{# {{ url('unsubscribe', {"id" : event.id }) }} #}"-->
                     {% if detailEvent.status == 'Ouvert' and app.user in detailEvent.users and detailEvent.startDateTime < today %}
                        <a href="{{ url('unsubscribe', {"id" : detailEvent.id}) }}" class="btn btn-warning btn-sm">Se
                             désister</a>
                      {% endif %}
                 </div>
                 <div class="col-md-4">
                <!-- Sortie ouverte, mais utilisateur = organisateur (ajouter href="{# {{ url('delete', {"id" : event.id }) }} #}"-->
                {% if detailEvent.status == 'Ouvert' and app.user.id == detailEvent.user.id and detailEvent.startDateTime < today %}
                    <a class="btn btn-danger btn-sm">Annuler</a>
                {% endif %}
                 </div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>

{% endblock %}