{% extends 'base.html.twig' %}

{% block titlePage %}Liste des sorties{% endblock %}


{% block container %}

    <div class="row">
        <div class="col-md-12">
            <div class="row" >

                <div class=""col-md-12>


{#                    {{ form_start(formEvent) }}#}

                    <label>Campus : </label>
{#                    {{ form_widget(formEvent.campus) }}#}
                    {% for campus in listCampus %}
                        <li><a href="">{{ campus.nameCampus }}</a></li>
                    {% endfor %}
                    <br><br>

                    <div>
                        {% for event in listByCampus %}
                            <li><a href="{{ url('details', {"id" : event.id }) }}">{{ event.nameEvent }}</a></li>
                        {% endfor %}

                        <form action="listEvent.html.twig" method="post">
                            <button type="submit" >Rechercher</button>
                        </form>


                    </div>
{#                    {{ form_end(formEvent) }}#}








                </div>

                <div class="col-md-3">
                </div>
                <div class="col-md-6" style="align-items: center">

{#                    {%  if app.user %}#}
{#                        <p style="text-align: center">Bienvenue {{ app.user.username }}</p>#}
{#                    {% endif %}#}

                    <h3 style="text-align: center">Liste des sorties</h3>

                    <ul style="list-style-type: none">
                        {% for event in listEvent %}
                            <li><a href="{{ url('details', {"id" : event.id }) }}">{{ event.nameEvent }}</a></li>

                        {% endfor %}
                    </ul>

                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
    </div>



{% endblock %}