{% extends 'base.html.twig' %}

{% block titlePage %}Liste des sorties{% endblock %}


{% block container %}

    <div class="row">
        <div class="col-md-12">
            <div class="row" >

                <div class="col-md-3" style="align-items: center">

                    {{ form_start(formSearch) }}

                        {{ form_row(formSearch.textSearch) }}<br>

                        <h5>Filter par campus</h5>
                        {{ form_row(formSearch.campusSearch) }}<br>

                        <h5>Filter par état de l'événement</h5>
                        {{ form_row(formSearch.statusSearch) }}<br>

                    <h5>Début de l'événement : </h5>
                    {{ form_row(formSearch.dateStartSearch) }}<br>

                    <h5>Fin de l'événement : </h5>
                    {{ form_row(formSearch.dateEndSearch) }}<br>

                    <button type="submit" class="btn btn-primary">Rechercher</button>


                    {{ form_end(formSearch) }}

                </div>

                <div class="col-md-9" style="align-items: center">

{#                    {%  if app.user %}#}
{#                        <p style="text-align: center">Bienvenue {{ app.user.username }}</p>#}
{#                    {% endif %}#}

                    <h3 style="text-align: center">Liste des sorties</h3>

{#                    <ul style="list-style-type: none">#}
{#                        {% for event in listByFilters %}#}
{#                            <li><a href="{{ url('details', {"id" : event.id }) }}">{{ event.nameEvent }} ({{ event.status }}) : {{ event.campus }}</a></li>#}

{#                        {% endfor %}#}
{#                    </ul>#}

                    {% if listByFilters | length > 0 %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Sortie</th>
                                    <th>Débute le </th>
                                    <th>Inscription jusqu'au </th>
                                    <th>inscrits / places</th>
                                    <th>Etat </th>
                                    <th>Organisateur </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for event in listByFilters %}
                                    <tr>
                                        <td>{{ event.nameEvent }}</td>
                                        <td>{{ event.startDateTime|date("d/m/Y") }}</td>
                                        <td>{{ event.registrationDeadLine|date("d/m/Y") }}</td>
                                        <td>{{ event.users|length }}/{{ event.nbRegistrationsMax }}</td>
                                        <td>{{ event.status }}</td>
                                        <td>{{ event.user }}</td>
                                        <td>
                                            <!-- Sortie ouverte, utilisateur pas encore inscrit et place dispo-->
                                            {% if event.status == 'Ouverte' and event.user not in event.users and event.users|length < event.nbRegistrationsMax %}
                                            <a href="{{ url('subscribe', {"id" : event.id }) }}" class="btn btn-primary btn-sm">S'inscrire</a>
                                            {% endif %}
                                            <!-- Sortie ouverte, utilisateur déjà inscrit-->

                                            <!-- Sortie ouverte, mais plus de place-->

                                            <!-- Sortie ouverte, mais utilisateur = organisateur-->

                                            <!-- Sortie terminée-->

                                            <!-- Inscription terminée-->
                                        </td>
                                        <td>
                                            <a href="{{ url('details', {"id" : event.id }) }}" class="btn btn-success btn-sm">Détail</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>Aucune sortie ne correspond à votre recherche </p>
                    {% endif %}
                </div>


            </div>
        </div>
    </div>



{% endblock %}