{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter un campus{% endblock %}


{% block container %}

    <div class="row">


            <div class="col-md-3"></div>
            <div class="col-md-6" style="align-items: center">

{#                {{ form_start(formCampus) }}#}

{#                <label>Nom du Campus : </label>#}
{#                <td>{{ form_widget(formCampus.nameCampus) }}</td>#}
{#                <br>#}


{#                {{ form_widget(formCampus) }}#}
{#                <button type="submit" class="btn btn-primary">Ajouter</button><br>#}

                {{ form_start(formCampus) }}

                <h3 style="text-align: center">Liste des campus</h3>

                {% if listCampus | length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Campus</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for campus in listCampus %}
                    <tr>
                        <td>{{ campus.nameCampus }}</td>
                        <td>
                            {#  #}
                            <a href="{{ path('delete_campus', {'id': campus.id }) }}" class="btn btn-danger" >Supprimer</a>
                        </td>
                        <td>
                            <!--href="{# {{ path('modify_campus_as_admin', {'id': campus.id }) }} #}"-->
                            <a  class="btn btn-warning">Modifier</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>

                            {{ form_widget(formCampus.nameCampus) }}

                        </td>
                        <td>
                            {{ form_widget(formCampus) }}
                            <button href="{{ path('create_campus') }}" class="btn btn-primary">Ajouter</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
                {% else %}
                    <p>Aucun campus à afficher </p>
                    {{ form_widget(formCampus.nameCampus) }}
                    {{ form_widget(formCampus) }}
                    <button href="{{ path('create_campus') }}" class="btn btn-primary">Ajouter</button>
                {% endif %}

                {{ form_end(formCampus) }}
            </div>
            <div class="col-md-3"></div>

        </div>



{% endblock %}