{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter un etat d'événement{% endblock %}


{% block container %}

    <div class="row">
    <div class="col-md-12">

    {{ form_start(formStatus) }}

    <div class="row">
    <div class="col-md-6" >

        <label>Ajouter un état : </label>
        {{ form_widget(formStatus.wording) }}
        <br><br>


    </div>

    <div class="col-md-6" style="align-items: center">

        {#                    {%  if app.user %}#}
        {#                        <p style="text-align: center">Bienvenue {{ app.user.username }}</p>#}
        {#                    {% endif %}#}

        <h3 style="text-align: center">Liste des états</h3>

        <ul style="list-style-type: none">
            {% for status in listStatus %}
                <li><a href="{{ url('list_status', {"id" : status.id }) }}">{{ status.wording }}</a></li>

            {% endfor %}
        </ul>

    </div>



    {{ form_widget(formStatus) }}
    <button>Ajouter</button>

    {{ form_end(formStatus) }}



{% endblock %}