{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter un etat d'événement{% endblock %}

{% block container %}

    <div class="row">


        <div class="col-md-3"></div>
        <div class="col-md-6" style="align-items: center">

            {#                {{ form_start(formCampus) }}#}

            {#                <label>Nom du Campus : </label>#}
            {#                <td>{{ form_widget(formCampus.nameCampus) }}</td>#}
            {#                <br>#}


            {#                {{ form_widget(formCampus) }}#}
            {#                <button type="submit" class="btn btn-primary">Ajouter</button><br>#}

            {{ form_start(formStatus) }}

            <h3 style="text-align: center">Liste des états</h3>

            {% if listStatus | length > 0 %}
                <table class="table">
                    <thead>
                    <tr>
                        <th>Etat</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in listStatus %}
                        <tr>
                            <td>

                                {{ status.wording }}
                            </td>
                            <td>
                                <a href="{{ path('delete_status', {'id': status.id }) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                            <td>
                                <!--<a href=" path('modify_status', {'id': status.id }) }}" class="btn btn-warning">Modifier</a>-->
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>

                            {{ form_widget(formStatus.wording) }}

                        </td>
                        <td>
                            {{ form_widget(formStatus) }}
                            <button href="{{ path('create_status') }}" class="btn btn-primary">Ajouter</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
            {% else %}
                <p>Aucun état à afficher </p>
                {{ form_widget(formStatus.wording) }}
                {{ form_widget(formStatus) }}
                <button href="{{ path('create_status') }}" class="btn btn-primary">Ajouter</button>
            {% endif %}

            {{ form_end(formStatus) }}
            <a class="btn mx-4 my-2 rounded border" href="{{ path('admin_home')}}">retour</a>
        </div>

        <div class="col-md-3"></div>


    </div>



{% endblock %}
