{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter un campus{% endblock %}


{% block container %}

    <div class="row">
    <div class="col-md-12">

    {{ form_start(formCampus) }}

    <div class="row">
    <div class="col-md-6" >

        <label>Nom du Campus : </label>
        {{ form_widget(formCampus.nameCampus) }}
        <br><br>


    </div>

    <div class="col-md-6" style="align-items: center">

        {#                    {%  if app.user %}#}
        {#                        <p style="text-align: center">Bienvenue {{ app.user.username }}</p>#}
        {#                    {% endif %}#}

        <h3 style="text-align: center">Liste des campus</h3>

        <ul style="list-style-type: none">
            {% for campus in listCampus %}
                <li><a href="{{ url('list_campus', {"id" : campus.id }) }}">{{ campus.nameCampus }}</a></li>

            {% endfor %}
        </ul>

    </div>




    {{ form_widget(formCampus) }}
    <button>Ajouter</button>

    {{ form_end(formCampus) }}



{% endblock %}