{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter une ville{% endblock %}


{% block container %}
    <div class="container-fluide">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(formPlace) }}
                <h3 class="ajoutlieu">Ajouter un lieu</h3>
                <div class="forme-group col-md-6 ">
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <label class="champs">Lieu:</label>
                            {{ form_widget(formPlace.namePlace) }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"><label class="champs">Rue :</label>
                            {{ form_widget(formPlace.street) }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"><label class="champs" >Ville:</label>{{ form_widget(formPlace.nameCity) }}
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6"><label class="champs" >Code postale:</label>{{ form_widget(formPlace.zipCode) }}</div>
                        <div class="col-md-3"></div>
                    </div>
                </div>

                {# <label>Lieu : </label> #}
                {# {{ form_widget(formPlace.namePlace) }} #}
                {# <br><br> #}

                {# <label>Rue : </label> #}
                {# {{ form_widget(formPlace.street) }} #}
                {# <br><br> #}

                {# <label>Code postal : </label> #}
                {# {{ form_widget(formPlace.zipCode) }} #}
                {# <br><br> #}

                {# <label>Ville : </label> #}
                {# {{ form_widget(formPlace.nameCity) }} #}
                {# <br><br> #}

                {# <div class="col-md-6"></div> #}
                {# <div class="forme-group col-md-6 p-4"> #}
                {# <button  type="submit" class="btn btn-lg btn-white ">Valider</button> #}
                {# <button  type="submit" onclick="history.go(-1)" class="btn btn-lg btn-white ">Annuler</button> #}
                {# </div> #}

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                        {{ form_widget(formPlace) }}
                        <button id="bubu2" class="btn  btn-lg">Ajouter</button>
                        <div class="col-md-5">  <button id="bu2" type="submit" onclick="history.go(-1)" class="btn btn-lg ">Annuler</button></div>
                    </div>

                    {{ form_end(formPlace) }}

{#                    <div class="col-md-4"> </div>#}
{#                        <div class="col-md-4">#}
{#                            <button id="bu2" type="submit" onclick="history.go(-1)" class="btn btn-lg btn-white ">Annuler</button>#}
{#                        </div>#}
{#                    <div class="col-md-4"></div>#}
                </div>
            </div>

            <div class="col-md-6 p-2">
                <h3 class="listelieux">Liste des Lieux</h3>
                {% if listPlace | length > 0 %}
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Lieu</th>
                            <th>Code postal</th>
                            <th>Ville</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for place in listPlace %}
                            <tr>
                                <td>
                                    {{ place.namePlace }}
                                </td>
                                <td>
                                    {{ place.zipCode }}
                                </td>
                                <td>
                                    {{ place.street }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>Aucun état à afficher </p>
                {% endif %}
            </div>
        </div>
    </div>





{% endblock %}