{% extends 'base.html.twig' %}

{% block titlePage %}Ajouter une ville{% endblock %}


{% block container %}

    <div class="row">
    <div class="col-md-12">

    {{ form_start(formPlace) }}

    <div class="row">
    <div class="col-md-6" >

        <label>Lieu : </label>
        {{ form_widget(formPlace.namePlace) }}
        <br><br>

        <label>Rue : </label>
        {{ form_widget(formPlace.street) }}
        <br><br>

        <label>Code postal : </label>
        {{ form_widget(formPlace.zipCode) }}
        <br><br>

        <label>Ville : </label>
        {{ form_widget(formPlace.nameCity) }}
        <br><br>

        {{ form_widget(formPlace) }}
        <button>Ajouter</button>

        {{ form_end(formPlace) }}

    </div>

    <div class="col-md-2">
        <button id="bu" type="submit"  onclick="history.go(-1)" class="btn btn-lg btn-white ">Annuler</button>
    </div>
    <div class="col-md-6" style="align-items: center">

{#                            {%  if app.user %}#}
{#                                <p style="text-align: center">Bienvenue {{ app.user.username }}</p>#}
{#                            {% endif %}#}

        <h3 style="text-align: center">Liste des Lieux</h3>

        <ul style="list-style-type: none">

            {% for place in listPlace %}
                <li><a href="{{ url('create_place', {"id" : place.id }) }}">{{ place.namePlace }} : {{ place.street }} à {{ place.nameCity }} ({{ place.zipCode }})</a></li>

            {% endfor %}
        </ul>


    </div>








{% endblock %}