    {% extends 'base.html.twig' %}

    {% block titlePage %}Admin Page{% endblock %}


    {% block container %}

        <div class="mt-5 mb-5 p-5">
        </div>

        <div class="row">

            <div class="col-3">
            </div>

            <div class="col-6">

                <div class="row d-flex justify-content-around">
                     <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <a class="nav-link mx-4 my-2 rounded border" href="{{ path('list_user')}}">
                           <img height="40px" src="/img/icons/user.png" alt="Liste profils">
                        </a>
                        <p>Liste profils</p>
                    </div>
                </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <a class="nav-link mx-4 my-2 rounded border" href="{{ path('list')}}">
                        <img height="40px" src="/img/icons/calendar.png" alt="Liste sorties">
                    </a>
                    <p>Liste sorties</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <div class="box-part text-center">
                    <a class="nav-link mx-4 my-2 rounded border" href="{{ path('create_campus')}}">
                        <img height="40px" src="/img/icons/school.png" alt="Ajouter campus">
                    </a>
                    <p>Ajouter campus</p>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <a class="nav-link mx-4 my-2 rounded border" href="{{ path('create_place')}}">
                            <img height="40px" src="/img/icons/addPlace.png" alt="Ajouter lieu">
                        </a>
                        <p>Ajouter lieu</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <a class="nav-link mx-4 my-2 rounded border" href="{{ path('create_status')}}">
                            <img height="40px" src="/img/icons/status.png" alt="Ajouter statut">
                        </a>
                        <p>Ajouter statut</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <div class="box-part text-center">
                        <a class="nav-link mx-4 my-2 rounded border" href="{{ path('create_user_as_admin')}}">
                            <img height="40px" src="/img/icons/addUser.png" alt="Ajouter profil en tant qu'admin">
                        </a>
                        <p>Ajout profil par admin</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-3"></div>

    {% endblock %}