{%  extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}


{% block container  %}
    <row class="d-flex justify-content-center align-items-center">
        <div class="m-4 ">
                <h3>Modification du profil de : <strong>{{ user.pseudo }}</strong></h3>
                <ul class="list-group">
                    <li class="list-group-item">Nom: {{ user.nameUser }}</li>
                    <li class="list-group-item">Prenom: {{ user.firstNameUser }}</li>
                    <li class="list-group-item">Téléphone: {{ user.phoneNumber }}</li>
                    <li class="list-group-item">Email: {{ user.mail }}</li>
                </ul>
        </div>

            <div class="m-4">
                {{ form_start(userForm) }}
                <div class="form-check d-flex flex-column">
                    <p>
                        {{ form_widget(userForm.roles)}}
                    </p>


                    <button class="btn-success m-2" type="submit" >Valider</button>
                    <p>coucou</p>
                {{ form_end(userForm) }}
                </div>
            </div>
    </row>


{% endblock %}