{%  extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}


{% block container  %}
    <row class="d-flex justify-content-center align-items-center">
        <div class="m-4">
            <p class="text danger border"> </p>
            <img src="{{ asset('img/profilePicture/'~ app.user.pictureName) }}" alt="image de profil">
        </div>
        <div class="m-4 ">
            <ul class="list-group ">
                <h3>{{ profile.pseudo }}</h3>
                <li class="list-group-item"> Prénom : {{ profile.firstNameUser }}</li>
                <li class="list-group-item"> Nom : {{ profile.nameUser }}</li>
                <li class="list-group-item"> Téléphone : {{ profile.phoneNumber }}</li>
                <li class="list-group-item"> Email : {{ profile.mail }}</li>
                <li class="list-group-item">Campus : {{ profile.campus}} </li>
            </ul>
            <br>
            {% if app.user.id == profile.id %}
                <a href="{{ path('user_modify_user', {'id': profile.id }) }}" class="btn btn-success btn-sm">Modifier</a>
            {% endif %}
            <div class="col-md-2">
                <button id="bu" type="submit"  onclick="history.go(-1)" class="btn btn-sm btn-white ">Retour</button>
            </div>
        </div>
    </row>


{% endblock %}