{% extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}

{% block container %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {# <p class="text danger border"> </p> #}
            <img class="rounded-circle" src="{{ asset('img/profilePicture/'~ app.user.pictureName) }}"
                 alt="image de profil">
        </div>
        <div class="col-md-4 ">
            <div class="card shadow-lg">
                <h3 class="pseud">{{ app.user }}</h3>
                <p>Prénom : {{ profile.firstNameUser }}</p>
                <p> Nom : {{ profile.nameUser }}</p>
                <p> Téléphone : {{ profile.phoneNumber }}</p>
                <p> Email : {{ profile.phoneNumber }} </p>
                <p> Campus : {{ profile.campus }} </p>
            </div>

            <div class="row">
                <div class=" col-md-3"></div>
                <div class=" col-md-6">
                    {% if app.user.id == profile.id %}
                        <a href="{{ path('user_modify_user', {'id': profile.id }) }}"
                           class="btn btn-success ">Modifier</a>
                    {% endif %}
                    <button id="bu" type="submit" onclick="history.go(-1)" class="btn  btn-white ">Retour</button>
                </div>
                <div class=" col-md-3"></div>
            </div>
            {# <button id="bu" type="submit"  onclick="history.go(-1)" class="btn  btn-white ">Retour</button> #}
        </div>
    </div>
{% endblock %}