{% extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}

{% block container %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            {# <p class="text danger border"> </p> #}
            <img class="rounded-circle" style="max-height:512px" src="{{ asset('img/profilePicture/'~ profile.pictureName) }}"
                 alt="image de profil">
        </div>
        <div class="col-md-4 ">
            <div id="cardDisp" class="card shadow-lg">
                <h3 class="pseud">{{ profile.pseudo }}</h3>
                <p><b>Prénom : </b>{{ profile.firstNameUser }}</p>
                <p><b> Nom : </b>{{ profile.nameUser }}</p>
                <p><b> Téléphone :</b> {{ profile.phoneNumber }}</p>
                <p><b> Email : </b>{{ profile.mail }} </p>
                <p><b> Campus : </b>{{ profile.campus }} </p>
            </div>

            <div class="row p-2">
                <div class=" col-md-3"></div>
                <div class=" col-md-6">
                    {% if app.user.id == profile.id %}
                        <a href="{{ path('user_modify_user', {'id': profile.id }) }}"
                           class="btn btn-success ">Modifier</a>
                    {% endif %}
                    <button id="bu" type="submit" onclick="history.go(-1)" class="btn  btn-white ">Retour</button>

                </div>
                <div class=" col-md-3"></div>
            </div>
            {# <button id="bu" type="submit"  onclick="history.go(-1)" class="btn  btn-white ">Retour</button> #}
        </div>
    </div>

{% endblock %}