{% extends('base.html.twig') %}
{% block titlePage %}Mon Profil{% endblock %}


{% block container %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">

                <img class="rounded-circle" style="max-height:512px" src="{{ asset('img/profilePicture/'~ app.user.pictureName) }}"
                     alt="image de profil">

                {{ form_start(userForm) }}
            </div>
            <div class="col-md-4 ">
                <div id="card2" class="card shadow-lg ">
                    <h3 class="modprof">{{ app.user }}</h3>
                    <p> <b>Pseudo</b>  {{ form_widget(userForm.pseudo) }}</p>
                    <p> <b>Image</b>   {{ form_widget(userForm.picture) }} </p>
                    <p> <b>Nom</b>   {{ form_widget(userForm.nameUser) }}</p>
                    <p> <b>Prénom</b>   {{ form_widget(userForm.firstNameUser) }}</p>
                    <p> <b>Téléphone</b>  {{ form_widget(userForm.phoneNumber) }} </p>
                    <p> <b>Campus</b>  {{ form_widget(userForm.campus) }} </p>
                    <p> <b>Email</b>  {{ form_widget(userForm.mail) }} </p>
{#                    <p> Nouveau mot de passe : </p>#}
{#                    <p> {{ form_widget(userForm.plainPassword.first) }} </p>#}
{#                    <p> Confirmation du mot de passe : </p>#}
{#                    <p> {{ form_widget(userForm.plainPassword.second) }} </p>#}

                    <div class="row">
                        <div class=" col-md-3"></div>
                        <div class=" col-md-6">
                            {{ form_widget(userForm) }}
                            <button type="submit" class="btn btn-success">Valider</button>
                            <button id="bu" type="submit" onclick="history.go(-1)" class="btn  btn-white ">Retour</button>
                        </div>
                        <div class=" col-md-3"></div>
                        {{ form_end(userForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}